.splash-screen{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white url(../img/logo.svg) no-repeat center center;
  background-size: 180px 180px;
  z-index: 1030;
}
.site-nav{
  .logo{
    height: 20px;
  }
  .navbar-heading{
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 24px;
  }
  .navbar-nav{
    .active{

    }
  }
}
