.nav-justified_50{
  li{
    width: 49%;
  }
}

.view_alert{
  position: relative;
  &-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    h2{
      margin: 0;
      background: rgba(0,0,0,1);
      font-size: 14px;
      padding: 10px;
      color: white;
      font-weight: normal;
      line-height: 20px;
    }
  }
  &-body{
    background: #99B3CC;
    height: 100%;
  }
  &-footer{
    position: absolute;
    padding: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    background: white;
    ul li{
      text-align: center;
    }
  }
}
