.view_news{
  padding: 20px;
  .news-tile{
    display: block;
    width: 100%;
    //border-bottom: 1px solid #e7e7e7;
    color: #333;
    text-decoration: none;
    margin-bottom: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    &_hero{
      position: relative;
      &-image{
        width: 100%;
      }
      &-title{
        //position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        margin: 0;
        font-size: 18px;
        padding: 10px;
        color: white;
        text-decoration: inherit;
      }
    }
    &_description{
      padding: 10px;
      text-decoration: inherit;
    }
  }
}
